In [47]:
import pandas as pd
from sklearn import preprocessing
data = pd.read_csv('survey_fcasts.yr1.tab', sep='\t', lineterminator='\n')
events = pd.read_csv('ifps.csv', encoding = "ISO-8859-1")

In [48]:
closed = events['q_status']=='closed'
binary = events['n_opts'] == 2
events = events[closed & binary]

In [49]:
merged = pd.merge(data, events, left_on=['ifp_id','answer_option'], right_on=['ifp_id','outcome'], how='inner')

In [50]:
merged['mse'] = (1-merged['value'])**2

In [51]:
ifp = merged.groupby('ifp_id', as_index=False)['mse'].mean()
ifp.columns = ['ifp_id', 'ifp_mean']
ifp['ifp_std'] = merged.groupby('ifp_id')['mse'].std().reset_index()['mse']
ifp.head()

   ifp_id  ifp_mean   ifp_std
0  1001-0  0.085250  0.154125
1  1003-0  0.138907  0.232795
2  1004-0  0.171507  0.238926
3  1005-0  0.105148  0.134944
4  1006-0  0.162513  0.220517

In [52]:
merged = pd.merge(merged, ifp, left_on=['ifp_id'], right_on=['ifp_id'], how='inner')

In [53]:
merged['smse']= (merged['mse']-merged['ifp_mean'])/merged['ifp_std']
merged[['ifp_id', 'ctt','cond','training','user_id','value','smse']].head()

   ifp_id ctt  cond training  user_id  value      smse
0  1004-0  1a     1        a    600.0   0.90 -0.675974
1  1004-0  1a     1        a   2986.0   0.95 -0.707365
2  1004-0  1a     1        a   3469.0   0.15  2.306126
3  1004-0  1a     1        a   5187.0   0.05  3.059499
4  1004-0  1a     1        a    636.0   0.80 -0.550412

In [71]:
user = merged.groupby(['user_id','cond','training'],as_index=False)['smse'].mean()
merged.groupby(['ctt'],as_index=False)['smse'].mean()

     ctt      smse
0     1a  0.172544
1     1b  0.071189
2     1c  0.018792
3     2a  0.036908
4     2b -0.061279
5     2c -0.028833
6    4a1 -0.062089
7   4a10 -0.007106
8    4a2 -0.020472
9    4a3  0.023192
10   4a4 -0.117260
11   4a5 -0.140814
12   4a6 -0.119029
13   4a7  0.039880
14   4a8  0.135277
15   4a9 -0.067002
16  4b11 -0.200622
17  4b12 -0.057328
18  4b13 -0.058483
19  4b14 -0.179831
20  4b15 -0.053460
21  4b16 -0.031777
22  4b17 -0.159826
23  4b18 -0.172437
24  4b19 -0.145607
25  4b20 -0.157768
26  4c21  0.000922
27  4c22  0.091487
28  4c23  0.006148
29  4c24  0.085568
30  4c25  0.031284
31  4c26 -0.052143
32  4c27  0.014925
33  4c28  0.012084
34  4c29 -0.143611
35  4c30 -0.240451

In [70]:
user.head()

   user_id  cond training      smse
0      3.0     2        b  0.539102
1      5.0     1        a -0.716400
2      6.0     2        a -0.075139
3     15.0     4        b -0.019119
4     19.0     2        a  0.300935

In [72]:
# user.to_csv("cs236user.csv", sep='\t', index=False)
user = pd.read_csv('cs236user.csv', sep='\t', lineterminator='\n')
user

      user_id  cond training      smse
0         3.0     2        b  0.539102
1         5.0     1        a -0.716400
2         6.0     2        a -0.075139
3        15.0     4        b -0.019119
4        19.0     2        a  0.300935
5        22.0     2        a -0.271063
6        23.0     2        b  0.566315
7        25.0     1        b -0.058472
8        33.0     1        b  0.772710
9        35.0     4        a  0.206110
10       36.0     1        b  0.212741
11       41.0     2        b -0.086106
12       43.0     1        a  0.211078
13       47.0     2        a -0.144750
14       51.0     2        a  0.484184
15       52.0     2        a  0.025633
16       55.0     4        a -0.389320
17       59.0     4        a -0.040102
18       63.0     4        b  0.189468
19       65.0     2        c -0.103143
20       82.0     2        a -0.026637
21       83.0     2        c  0.498656
22       85.0     2        c -0.004301
23       87.0     1        b -0.118125
24       92.0     4        a  0.139511
25       93.0     1        a  0.184484
26       96.0     1        c  0.412133
27      105.0     1        a -0.717410
28      107.0     1        a -0.369716
29      112.0     1        b  0.820865
...       ...   ...      ...       ...
1916   5848.0     1        b  1.180285
1917   5849.0     2        c  0.155683
1918   5851.0     4        c -0.471300
1919   5852.0     4        b  0.673967
1920   5853.0     1        c -0.478131
1921   5856.0     4        a -0.568459
1922   5864.0     4        b -0.249688
1923   5867.0     4        c -0.292554
1924   5869.0     4        c  0.034272
1925   5870.0     4        b -0.818351
1926   5871.0     4        b -0.342098
1927   5878.0     4        c -0.085977
1928   5882.0     4        b -0.476784
1929   5884.0     4        c  1.055241
1930   5888.0     1        b  0.433827
1931   5890.0     4        c -0.088716
1932   5896.0     2        c -0.294118
1933   5897.0     2        c -0.298375
1934   5898.0     4        c  0.287909
1935   5901.0     1        c  0.493302
1936   5903.0     4        b -0.397883
1937   5907.0     4        c  0.303121
1938   5908.0     2        c -0.141191
1939   5915.0     4        a  0.461687
1940   5918.0     2        c -0.026849
1941   5921.0     1        c  0.234068
1942   5924.0     1        c -0.038552
1943   5927.0     4        b -0.138444
1944   5928.0     1        b  1.135747
1945   5929.0     4        c -0.249352

[1946 rows x 4 columns]